<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/template}">
<head>
    <title>L'ajout d'un livre</title>
    <meta charset="utf8">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">L'ajout d'un livre</div>
            <div class="card-body">
                <form th:action="@{saveBook}" method="post">
                    <div class="form-group">

                        <label class="control-label">Le titre du livre</label> <input
                            class="form-control" type="text" th:value="${book.name}" name="name" required="required">

                        <label class="control-label">Selectionner l'écrivain du livre</label>
                        <select name="author" class="form-control">
                            <option value="0">none</option>
                            <option  th:each="a:${authors}" th:value="${a.id}" th:text="${a.firstName}  + ' ' + ${a.lastName}"></option>
                        </select>
                    </div>
                    <button class="btn btn-dark">enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
